@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #451952;
  --secondary-color: #662549;
  --tertiary-color: #f7e5ea;
  --yellow-color: #F39F5A;

  --display-font: 'Gloock', sans-serif;
  --text-font: 'Mulish', sans-serif;

}

* {
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.5s ease;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.progressContainer {
  width: 100%;
  height: 5px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.progressBar {
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}


.container2Wrapper {
  width: 750px;
  padding: 30px 30px 0 30px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 1000px;
  transition: all 0.5s ease;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.5s ease;
}


.qCardh2 {
  color: #451952;
  text-align: center;
  font-size: x-large;
  font-family: 'gloock', sans-serif;
  font-weight: 100;
  margin: 20px;
  width: 95%;
  text-align: start;
}

.qCardh3 {
  margin-bottom: 20px;
  text-align: center;
  color: #662549;
  font-size: large;
  font-weight: 600;
  width: 95%;
  text-align: start;
}


.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 95%;
  padding: 0px 20px;
}

.btnNavGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 95%;
  padding: 0px 20px;
}

.container2Wrapper .btnGroup {
  flex-direction: row;
}

.btnNav {
  margin-right: 10px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 15px;
  font-size: large;
  padding: 5px 30px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
}

.container2 .grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 85%;
  border: solid 1px var(--secondary-color);
  border-radius: 25px;
  padding: 15px;
}

.btnAnswer {
  font-family: 'Mulish', sans-serif;
  background-color: #e8e5f7;
  color: #2d0f4a;
  border-radius: 50%;
  border: 1px solid #2d0f4a;
  font-size: large;
  padding: 10px 17px;
  transition: all 0.3s;
}

.btnAnswer:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: #a287bb;
  border-color: transparent;
}

.btnSubmit {
  background-color: #451952;
  color: #e8e5f7;
  border-radius: 15px;
  font-size: large;
  padding: 5px 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}


.btnSubmit:hover {
  color: #451952;
  background-color: #e8e5f7;
  border: 1px solid #451952;
}