@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  margin: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #270d3e, #543d85, #543d85, #270d3e);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 600px;
  margin: 20px;
  background-color: #e6e5f7;
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  position: relative;

}


h2 {
  color: #2d0f4a;
  text-align: center;
  margin-top: 57.92px;
  font-size: xx-large;
  font-family: 'gloock', sans-serif;
  font-weight: 100;
}

h3 {
  margin-top: 23.72px;
  padding-top: 24px;
  text-align: center;
  color: black;
  font-size: large;
  font-weight: 600;
}

.d-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  width: 80%;
}


img {
  width: 624px;
  height: 573px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.btn {
  font-family: 'Mulish', sans-serif;
}

.btn-answer {
  background-color: #ffdc6b;
  color: #2d0f4a;
  border-radius: 8px;
  border: 1px solid #ffdc6b;
  font-size: large;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.btn-answer:hover {
  color: var(--bs-btn-hover-color);
  background-color: #ffdc6b;
  border-color: var(--bs-btn-hover-border-color);
}

.btn-submit {
  background-color: #2d0f4a;
  color: #dad7f7;
  border-radius: 8px;
  font-size: large;
  padding: 5px 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}


.btn-submit:hover {
  color: #2d0f4a;
  background-color: #dad7f7;
  border: 1px solid #2d0f4a;
}