@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primary-color: #451952;
    --secondary-color: #662549;
    --tertiary-color: #f7e5ea;
    --yellow-color: #F39F5A;

    --display-font: 'Gloock', sans-serif;
    --text-font: 'Mulish', sans-serif;

}

* {
    margin: 0;
}

body {
    font-family: var(--display-font);
    font-style: normal;
}

.hero,
.container,
.section1,
.section2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    flex-direction: row;
    height: 100vh;
    background: url('../src/assets/Sea\ of\ Clouds.svg') no-repeat center center/cover;
}

.heroWrapper {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    gap: 40px;
}


.section1 h2 {
    font-family: var(--display-font);
    font-size: 50px;
    font-weight: 100;
    line-height: 1.2em;
}

h1 {
    color: #fff;
    font-family: var(--display-font);
    font-size: 500%;
    font-weight: 100;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.section1 h2 {
    max-width: 600px;
    color: var(--primary-color);
}

.btnGetStarted,
.btnLearnMore {
    display: inline-block;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: 700;
    cursor: pointer;
}

.btnGetStarted {
    background-color: white;
    color: #333;
    margin-right: 10px;
}

.btnLearnMore {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
}

.hero .description,
.section1 p {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    color: var(--tertiary-color);
}

.hero .description {
    margin: 30px 0px;
}

.section1 {
    padding: 48px 0px;
}

.section1 div {
    width: 1000px;
}

.section1 p {
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 40px;
}

.section2 {
    gap: 60px;
    padding: 100px 0px;
    overflow: hidden;
}

.section2 div {
    width: 1000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 60px;
    padding: 0;
    overflow: hidden;
}

.section2 div div {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    overflow: hidden;
}

.imgPlaceholder {
    border-radius: 40px;
}

.section2 img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    height: 480px;
}

.section2 img:hover {
    transform: scale(1.1);
}


.section2 h3 {
    font-family: var(--display-font);
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 1.2em;
}

.section2 p {
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.5em;
    color: var(--secondary-color);
}

.section3 {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 100px 0px;
}

.section3 img {
    width: 80px;
    height: 80px;
    z-index: 1;
}

.section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.section4 div {
    width: 1000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    overflow: hidden;
}

.section4 div .section4Container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 120px 120px 120px 0px;
    background-color: var(--tertiary-color);
    overflow: hidden;
}

.section4 div .section4Container h2 {
    font-family: var(--display-font);
    width: fit-contet;
    font-size: 7vw;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 1.2em;
    color: var(--primary-color);
    text-align: center;
}

.section4div div img {
    width: 40px;
    height: 43px;
}

.section4 div .section4Container p {
    width: 100%;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 1.4em;
    text-align: center;
}

.section5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 100px 0px;
    overflow: hidden;
}

.section5 div {
    width: 1000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    overflow: hidden;

}

.section5 div .section5Container {
    width: 100%;
    height: auto;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    border-radius: 40px;
    background-color: var(--tertiary-color);
}

.section5 div .section5Container img {
    width: 80px;
    height: 80px;
    position: absolute;
    transform: translateY(-15em);
}

.section5 div .section5Container p {
    width: 100%;
    color: #000;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 1.2em;
    text-align: center;
}

.section5 div .section5Container p:last-child {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5em;
}

.section6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    overflow: hidden;
}

.section6 div {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
    overflow: visible;
}

.section6 .card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 30px;
    background-color: var(--tertiary-color);

}

.section6 div div p {
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 1.5em;
}

.section6 div div h3 {
    font-family: var(--display-font);
    font-size: 40px;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 1em;
    color: var(--primary-color);
}

.section6 div div button {
    width: 100%;
    height: 40px;
    padding: 15px;
    gap: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--text-font);
    font-weight: 500;
    line-height: 1.2em;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}

.section6 div div img {
    width: 40px;
    height: 40px;
    position: absolute;
    -webkit-transform: translateX(16em) translateY(-12em);
    -ms-transform: translateX(16em) translateY(-12em);
    transform: translateX(16em) translateY(-12em);
}

.section6 .cardContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 20px 0px;
}

.section6 div div div div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0px;
}

.section6 div div div div span {
    width: 16px;
    height: 16px;
}

.section6 div div div {
    font-size: 14px;
    color: #000;
    letter-spacing: 0;
    line-height: 1.5em;
}

.section7 {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 100px 0px;
    overflow: hidden;
    gap: 60px;
}

.section7 h2 {
    max-width: 1000px;
    font-family: var(--display-font);
    font-size: 48px;
    font-weight: 100;
    letter-spacing: normal;
    line-height: 1.2em;
    text-align: start;
    color: var(--primary-color);
}

.section7 .section7Container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 0;
    overflow: hidden;
}

.section7 .section7Container div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.section7 .section7Container div h2 {
    font-family: var(--text-font);
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 1.5em;
    color: var(--primary-color);
    text-align: start;
    font-weight: normal;
}

.section7 .section7Container div p {
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    color: #000;
    letter-spacing: 0;
    line-height: 1.5em;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    gap: 100px;
    border-top: solid 1px #000;
}

footer .footerContainer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 0;
    overflow: hidden;
}

footer:last-child {
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    border-top: solid 1px #f2f2f2;
}

.tagline {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: var(--primary-color);
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
}

footer .footerContainer div {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    padding: 0%;
}

footer .footerContainer div p {
    font-size: 16px;
    color: #000;
    letter-spacing: -0.025em;
    line-height: 1.5em;
}

footer .footerContainer div div {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 0px;
}

footer .footerContainer div div a {
    font-size: 16px;
    color: var(--primary-color);
    letter-spacing: 0;
    line-height: 1.5em;
    text-decoration: none;
}