@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

.container {
    position: relative;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 0;
    transform: skewY(-12deg);
    background: -webkit-linear-gradient(300deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    top: -2%;
}

#stripes,
#stripes span {
    position: absolute;
}

#stripes span {
    height: 40px;
}

#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff;
}

#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff;
}

#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8;
}

@media (min-width:670px) {
    #stripes span {
        height: 150px;
    }

    #stripes :nth-child(1) {
        top: 0;
    }

    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #11bdff;
    }
}

@media (min-width: 880px) {
    #stripes span {
        height: 190px;
    }

    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #53f;
    }

    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff;
    }

    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff;
    }

    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5;
    }

    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff;
    }
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

.description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

.btnShowResult {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 1;
}